@page
@model Transitify.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<div class="container">
    @*<h1>Logout</h1>*@

    <form method="post">
        <button type="submit" class="btn btn-primary">Wyloguj się</button>
    </form>
</div>