@page
@model Transitify.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RepeatPassword"></label>
        <input asp-for="RepeatPassword" type="password" class="form-control" />
        <span asp-validation-for="RepeatPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Age"></label>
        <input asp-for="Age" class="form-control" value="18" min="18" max="100"/>
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
